// :root {
 
// }

.App {
  margin: 10px auto;
}

body {
  background-color: var(--red);
}

.start_container {
  width: 100%;
  height: 90vh;
  max-height: 95vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  .title,
  .start_btn {
    margin: auto;
    color: #e3e3e3;
  }

  .mafia_dude {
    width: 280px;
    height: 300px;
    position: absolute;
    bottom: 10px;
    right: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .start_page_btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .start,
    .about_us {
     
      button {
        width: 25vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        border: none;
        color: white;
        background-color: black;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

        .start_icons {
          width: 20%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            mix-blend-mode: difference;
          }
        }

        p {
          width: 60%;
          padding: 8px 0 0;
          text-align: left;
          font-size: 1.5rem;
          font-family: var(--mainFont);
        }
      }

      button:hover {
        transition: 0.3s;
        cursor: pointer;
        background-color: var(--red);
        color: black;
      }

      button:active {
        transform: scale(0.95);
      }

      button:focus {
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
    .mafia_dude{
      right: auto !important;
    }
}
@media screen and (max-width: 750px) {
  .mafia_dude{
    right: -20px !important;
  }
  .start_container{
    flex-direction: column;
    align-self: flex-start;
    .start_page_btns{
      width: 100%;
      .start, .about_us{
        width: 80%;
        button{
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .start_container{
    overflow: visible !important;
  }
  .title{
    h1{
      font-size: 1.8em;
    }
  }
  .start_page_btns{
    margin-right: 80px !important;
    button{
      p{
        font-size: 1.3rem !important;
      }
    }
  }
}