.back_to_settings {
  display: flex;
  
  button {
    padding: 0.6rem 2rem 0;
    font-size: 36px;
  }
}

@media (min-width: 300px) and (max-width: 500px) and (max-height: 950px) {
  .back_to_settings {
    button {
      display: flex;
      align-items: center;
      top: 0.4rem;
      left: -1.5rem;
      padding: 0.5rem 1rem;
    }
  }
}
