.SL_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  margin-top: 20px;

  .limits {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-height: 60vh;
    overflow-y: auto;
    margin: 3rem 0 6rem;

    h2 {
      color: var(--white);
    }
  }
}
@media screen and (max-width: 530px) {
  .limits {
    max-height: fit-content !important;
    overflow-y: unset !important;
  }
}

// ~ MOBILE LANDSCAPE
@media (min-width: 450px) and (max-width: 950px) and (min-height: 300px) and (max-height: 500px) {
  .SL_container {
    gap: 0.5rem;

    .limits {
      margin: 0;
      gap: 1rem;
    }
  }
}
