.IPN_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: center;

  .title {
    font-size: 2rem;
  }

  .title,
  .input_text {
    color: #ccc;
    font-family: var(--mainFont);
  }

  .input_text {
    background-color: var(--black);
    padding: 4px 0 0;
  }

  .inputs {
    max-height: 60vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width:620px) {
  .inputs {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .prev_next_btn{
    display: flex;
    flex-direction: column;
  }
}