.IPN_container {
  padding-top: var(--container-padding);

  .title,
  .input_text {
    color: var(--white);
    font-family: var(--mainFont);
  }

  .input_text {
    background-color: var(--black);
    padding: 4px 0 0;
  }

  .inputs {
    max-height: 60dvh;

    overflow-y: auto;
  }
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

// ~ TABLET LANDSCAPE
@media (min-width: 951px) and (max-width: 1200px) and (min-height: 501px) and (max-height: 950px) {
  .IPN_container {
    .inputs {
      height: 50dvh;
    }
  }
}

// ~  TABLET PORTRAIT
@media (min-width: 501px) and (max-width: 950px) and (min-height: 951px) and (max-height: 1200px) {
  .IPN_container {
    .inputs {
      height: 70dvh;
    }
  }
}

// ~ MOBILE PORTRAIT
@media (min-width: 300px) and (max-width: 500px) and (max-height: 950px) {
  .inputs {
    max-height: 65dvh !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

// ~ MOBILE LANDSCAPE
@media (min-width: 450px) and (max-width: 950px) and (min-height: 300px) and (max-height: 500px) {
  .IPN_container {
    padding-top: var(--padding-top);
    gap: 0.6rem;

    .title {
      h1 {
        font-size: var(--title-size-mobile);
      }
    }

    .inputs {
      max-height: 46dvh;
    }
  }
}