.input_container {
  p {
    font-size: 1.5rem;
    color: var(--white);
    font-family: var(--mainFont);
  }

  input {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--black);
    border-radius: 5px;
    padding: 6px 10px 0;
    margin: 0 auto;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    outline: none;
    transition: all 0.3s ease-in-out;
    &:focus {
      border-color: #333;
    }
    font-family: var(--mainFont);
    font-weight: 900;
    scroll-behavior: smooth;

    &::placeholder {
      color: var(--black);
      font-family: var(--mainFont);
      font-weight: 900;
    }
  }
}

// ~  TABLET PORTRAIT
@media (min-width: 501px) and (max-width: 950px) and (min-height: 951px) and (max-height: 1200px) {
  .input_container {
    input {
      width: 80% !important;
    }
  }
}

// ~ MOBILE LANDSCAPE
@media (min-width: 450px) and (max-width: 950px) and (min-height: 300px) and (max-height: 500px) {
  .input_container {
    input {
      width: 80% !important;
    }
  }
}

// ~ MOBILE PORTRAIT 
@media (min-width: 300px) and (max-width: 500px) and (max-height: 950px) {
  .input_container {
    input {
      margin: 0;
      width: 90% !important;
    }
  }
}
