@font-face {
  font-family: 'Constitution';
  src: url(./assets/fonts/DM-Constitution.ttf);
}

:root {
  --mainFont: "Constitution", sans-serif;
  --white: #fafafa;
  --black: #151515;
  --red: #ba0013;
  /* this padding is for components top part, to move elements down by 20px */
  --margin-top: 20px;
  /* title h1 size */
  --title-size: 4rem;
  --title-size-mobile: 2.5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--mainFont);
}

h1 {
  margin-block-start: 0.3em;
  margin-block-end: 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  color: var(--white);
  text-decoration: none;
}

.main_content_wrapper {
  display: flex !important;
  /* justify-content: space-between !important; */
  justify-content: start !important;
  width: 70% !important;
  height: 100dvh !important;
  margin: 0 auto !important;
  flex-direction: column;
  /* gap: 1rem; */
  text-align: center;

}

.day_theme {
  background-color: var(--red);
}

.night_theme {
  background-color: var(--black);
}

.prev_next_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 1rem; */
  margin: 1rem 0 2rem;
  max-width: 100dvw;
}

button {
  font-family: var(--mainFont);
  font-size: 36px;
  font-weight: 900;
  padding: 0.6rem 2rem 0;
  color: var(--white);
  background-color: var(--black);
  border: none;
  position: relative;
}

/* button:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 10px;
} */

button:active {
  background-color: var(--red);
  transition: 0.2s;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 10px;
}

/* .title {
  margin-top: var(--margin-top);
} */

.title h1 {
  color: var(--white);
  font-size: var(--title-size);
}

.input_text {
  color: var(--white);
  background-color: var(--black);
  padding: 6px 0 0;
  margin-bottom: 1rem;
}


/* ~ MOBILE PORTRAIT */
@media (min-width: 300px) and (max-width: 500px) and (max-height: 950px) {
  .prev_next_btn {
    gap: 0.5rem;
  }

  button {
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem 0;
  }
}

/* ~ MOBILE LANDSCAPE */
@media (min-width: 450px) and (max-width: 950px) and (min-height: 300px) and (max-height: 500px) {
  .prev_next_btn {
    margin: 0.5rem 0;

  }

  button {
    font-size: 1.7rem;

    /* padding: 0.5rem 2rem 0; */
  }
}